*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: yellow;
    font-family: "Poetsen One", sans-serif;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}